.message-show {
    text-align: center;
}

.message-show h4 {
    text-transform: uppercase;
    font-size: 19px;
}

.date {
    font-size: 11px;
}

.description {
    font-size: 16px;
}

.message-show button {
    padding: 14px;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 11px;
}