.Blog {
    margin-top: 30px;
}

.Message {
    text-align: center;
    margin-bottom: 35px;
}

.Message button {
    padding: 12px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: black;
    background: #61dafb;
    border-radius: 2px;
    border: 1px solid black;
    text-transform: uppercase;
}