.Nav-Bar {
    margin: 0 auto;
    text-align: center;
}
.Nav-Bar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Nav-Bar a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    margin: 12px;
    font-weight: bold;
    color: black;
}