.Add-Message {
    margin: 40px auto 0;
    border: 1px solid rgba(0,0,0,0.2);
    width: 800px;
    padding: 20px;
}
.Add-Message form {
    display: flex;
    flex-direction: column;
}
.Add-Message button {
    align-self: flex-start;
}